= form_for [:confirm, @report], html: { class: 'form-horizontal' } do |f|
  - if @report.errors.any?
    .alert.alert-danger
      = "#{@report.errors.count}件のエラーがあります。"
      %ul
        - @report.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.label :target_date, class: 'col-sm-2 control-label'
    .col-sm-6
      = f.text_field :target_date, class: 'form-control'

  .works
    = f.fields_for :works do |work|
      = render 'work_fields', f: work

  .form-group
    .col-sm-offset-2.col-sm-10
      = link_to_add_association 'プロジェクトの追加', f, :works, class: 'btn btn-info'
      .mt15
        合計作業時間：
        %span.total-time 0
        時間

  .form-group
    = f.label :question, class: 'col-sm-2 control-label'
    .col-sm-6
      = f.text_area :question, class: 'form-control'

  .form-group
    = f.label :impression, class: 'col-sm-2 control-label'
    .col-sm-6
      = f.text_area :impression, class: 'form-control impression-form'

  = f.hidden_field :status

  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit '確認', class: 'btn btn-primary'
      = link_to '下書き保存', '#', class: 'btn btn-info draft'

:javascript
  $(function() {
    $("#report_target_date").datepicker({'dateFormat': 'yy-mm-dd'});

    $('select').select2({
      theme: 'bootstrap',
      placeholder: '選択してください',
      allowClear: true
    });

    if ($('form').attr('method') == 'post' && $('.nested-fields').size() == 0) {
      setTimeout(function() { $('a.add_fields').click(); }, 100);
    }

    calcTotalWorkTime();
    $('input.work-time').blur(function() {
      calcTotalWorkTime();
    });

    $('a.add_fields').
      data('association-insertion-method', 'append').
      data('association-insertion-node', '.works');

    $('.works').on('cocoon:after-insert', function(e, added_work) {
      added_work.find('select').select2({
        theme: 'bootstrap',
        placeholder: '選択してください',
        allowClear: true
      });
      $('input.work-time').blur(function() {
        calcTotalWorkTime();
      });
    })
    .on("cocoon:after-remove", function() {
      calcTotalWorkTime();
    });
  });

  $('input[type="submit"]').click(function(event) {
    $('#report_status').val('#{Settings.report.status_types.published}');
  });

  $('.draft').click(function(event) {
    event.preventDefault();
    $('#report_status').val('#{Settings.report.status_types.draft}');
    $($(this).closest('form')).submit();
  });

  function calcTotalWorkTime() {
    var totalTime = 0;
    console.log('detect');
    $('input.work-time').each(function() {
      totalTime += parseFloat($(this).val());
    });
    $('.total-time').html(totalTime);
  }

