- total_work_time = 0

.container
  %ol.breadcrumb
    %li= link_to '日報一覧', reports_path
    %li.active 日報投稿確認

  %article.contents-main
    = form_for(@report) do |f|
      %h1= "#{l(@report.target_date, format: :long)}の日報"
      = hidden_field_tag 'report[target_date]', params['report']['target_date']

      %section
        %h2
          %span.glyphicon.glyphicon-triangle-right
          本日の仕事
        - params['report']['works_attributes'].each do |key, work|
          %section
            - if work['id'].present?
              = hidden_field_tag "report[works_attributes][#{key}][id]", work['id']
            = hidden_field_tag "report[works_attributes][#{key}][_destroy]", work['_destroy']
            - if work['_destroy'] == 'false'
              %h3
                %span.glyphicon.glyphicon-menu-right
                = Project.find(work['project_id']).name_with_customer
                ：
                = "#{work['time']}時間"
              = simple_format(h(work['detail']))

              = hidden_field_tag "report[works_attributes][#{key}][project_id]", work['project_id']
              = hidden_field_tag "report[works_attributes][#{key}][time]", work['time']
              - total_work_time += work['time'].to_f if work['time'].present?
              .hidden
                = text_area_tag "report[works_attributes][#{key}][detail]", work['detail'], readonly: true

      %section
        %h2
          %span.glyphicon.glyphicon-triangle-right
          合計作業時間
        = "#{total_work_time}時間"


      %section
        %h2
          %span.glyphicon.glyphicon-triangle-right
          = t('activerecord.attributes.report.question')
        = simple_format(h(@report.question))
        - if @report.question.blank?
          %p 特に無し
        .hidden
          = text_area_tag 'report[question]', params['report']['question'], readonly: true

      %section
        %h2
          %span.glyphicon.glyphicon-triangle-right
          = t('activerecord.attributes.report.impression')
        = simple_format(h(@report.impression))
        - if @report.impression.blank?
          %p 特に無し
        .hidden
          = text_area_tag 'report[impression]', params['report']['impression'], readonly: true

      = f.submit class: 'btn btn-primary'
