.container
  .row
    .col-sm-3
      .contents-main
        = image_tag current_user.gravatar_url, alt: 'gravatar', size: '40x40'
        = current_user.name
        .report_num
          %strong レポート数：
          = current_user.reports.count
        .projects
          %strong 参加プロジェクト
          - if current_user.projects.present?
            %ul
              - current_user.projects.each do |project|
                %li= link_to_unless current_user.partner?, project.name_with_customer, project_path(project)
          - else
            %p 現在参加しているプロジェクトはありません。

    .col-sm-9
      = paginate @reports

      - @reports.each do |report|
        = render partial: 'report', locals: {report: report}

      - if @reports.blank?
        .contents-main
          %p 現在投稿された日報はありません。

      = paginate @reports
