!!! 5
%html{lang: 'ja'}
  %head
    %meta{charset: 'UTF-8'}
    %title= @title || '日報システム'
    = stylesheet_link_tag    'bootstrap_loader', media: 'all'
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body

    %nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          %button{type: 'button', class: 'navbar-toggle collapsed', data: { toggle: 'collapse', target: '#navbar' }, aria: { expanded: 'false' }}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to '日報システム', reports_path, class: 'navbar-brand'
        #navbar.navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li= link_to '新規投稿', new_report_path
            - unless current_user.partner?
              %li= link_to 'プロジェクト', projects_path
              %li= link_to '顧客', customers_path
              %li= link_to 'ユーザ', users_path
          %ul.nav.navbar-nav.navbar-right
            %li.dropdown
              = link_to '#', class: 'dropdown-toggle', :'data-toggle' => 'dropdown', role: 'button', aria: { haspopup: true, expanded: false } do
                メニュー
                %span.caret
              %ul.dropdown-menu
                %li= link_to 'ユーザ情報編集', edit_user_path(current_user)
                %li= link_to 'ログアウト', destroy_user_session_path, method: :delete

    = yield

    - if notice.present?
      :javascript
        var n = noty({
          layout: 'topCenter',
          type: 'information',
          text: "#{notice}",
          animation: {
            open: {height: 'toggle'},
            close: {height: 'toggle'},
            easing: 'swing',
            speed: 500
          },
          timeout: 5000
        });

    - if alert.present?
      :javascript
        var n = noty({
          layout: 'topCenter',
          type: 'error',
          text: "#{alert}",
          animation: {
            open: {height: 'toggle'}, // jQuery animate function property object
            close: {height: 'toggle'}, // jQuery animate function property object
            easing: 'swing', // easing
            speed: 500 // opening & closing animation speed
          },
          timeout: 5000
        });
