!!! 5
%html{lang: 'ja'}
  %head
    %meta{charset: 'UTF-8'}
    %title= @title || '日報システム'
    = stylesheet_link_tag    'bootstrap_loader', media: 'all'
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body

    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          = link_to '日報システム', reports_path, class: 'navbar-brand'
        #navbar.navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li= link_to '自分の投稿', '#'
            %li= link_to 'プロジェクト', '#'
          %ul.nav.navbar-nav.navbar-right
            %li.dropdown
              = link_to '#', class: 'dropdown-toggle', :'data-toggle' => 'dropdown', role: 'button', aria: { haspopup: true, expanded: false } do
                メニュー
                %span.caret
              %ul.dropdown-menu
                %li= link_to 'ログアウト', destroy_user_session_path, method: :delete

    = yield
